nodered/flows.json
[
    {
        "id": "4a85ca0db70e0d85",
        "type": "tab",
        "label": "Real-Time Imports",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe649a070c585a18",
        "type": "tab",
        "label": "CSV Imports",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Background Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "pg-config",
        "type": "postgreSQLConfig",
        "name": "Telemetry DB",
        "host": "postgresdb",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "POSTGRES_DB",
        "databaseFieldType": "env",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "node-red-telemetry",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "POSTGRES_USER",
        "userFieldType": "env",
        "password": "POSTGRES_PASSWORD",
        "passwordFieldType": "env"
    },
    {
        "id": "5bfed78819477e13",
        "type": "serial-port",
        "name": "fish",
        "serialport": "/dev/cu.usbmodemRFCW3022A3L2",
        "serialbaud": "38400",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "cbe634675d38b8f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "nodered-telemetry-mqtt",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": false,
        "autoUnsubscribe": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f815c77fc870dd9c",
        "type": "serial in",
        "z": "4a85ca0db70e0d85",
        "name": "fishPort",
        "serial": "5bfed78819477e13",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "af0a28c0e371b550"
            ]
        ]
    },
    {
        "id": "af0a28c0e371b550",
        "type": "link out",
        "z": "4a85ca0db70e0d85",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "595351ac2dd69914"
        ],
        "x": 315,
        "y": 140,
        "wires": []
    },
    {
        "id": "b9947f6851e495f5",
        "type": "mqtt in",
        "z": "4a85ca0db70e0d85",
        "name": "",
        "topic": "car_telemetry",
        "qos": "2",
        "datatype": "utf8",
        "broker": "cbe634675d38b8f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "bf9e58810d8e6472"
            ]
        ]
    },
    {
        "id": "bf9e58810d8e6472",
        "type": "link out",
        "z": "4a85ca0db70e0d85",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "595351ac2dd69914"
        ],
        "x": 355,
        "y": 260,
        "wires": []
    },
    {
        "id": "bd5fce99d42b852a",
        "type": "function",
        "z": "4a85ca0db70e0d85",
        "name": "Normalize Log Event",
        "func": "try {\n\n    // PATH A: If this message was intercepted by the global 'catch' node\n    if (msg.error) {\n        msg.params = [\n            msg.timestamp || new Date().toISOString(),  \n            // Probably code-related error, so the content in 'try' wouldn't execute for that node.\n            \"critical\",                                \n            msg.error.source?.name || \"Unknown Block\",   \n            `CRASH: ${msg.error.message}`,              \n            null                                        \n        ];\n    }\n    // PATH B: Standard manual log coming from Output Port 2 nodes \n    else if (msg.payload && msg.payload.level) {\n        msg.params = [\n            msg.payload.time,\n            msg.payload.level,\n            msg.payload.node,\n            msg.payload.message,\n            msg.payload.fields\n        ];\n    }\n    // PATH C: Safety valve for unexpected message formats \n    else {\n        node.error(\"'Normalize Log Event' node received an unrecognized message payload shape.\");\n        return null;\n    }\n\n    return msg;\n\n} catch (error) {\n\n    node.error(`Error inside 'Normalize Log Event' node: ${error.message}`, msg);\n    return null;\n\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 420,
        "wires": [
            [
                "ea16570786413121",
                "82c88ec1c1e8f8bf"
            ]
        ]
    },
    {
        "id": "ea16570786413121",
        "type": "postgresql",
        "z": "4a85ca0db70e0d85",
        "name": "Log Database",
        "query": "INSERT INTO event_logs (time, level, node, message, fields)\nVALUES ($1, $2, $3, $4, $5);",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 820,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "700aaceef3cf20f0",
        "type": "catch",
        "z": "4a85ca0db70e0d85",
        "name": "",
        "scope": [
            "f815c77fc870dd9c",
            "af0a28c0e371b550",
            "b9947f6851e495f5",
            "bf9e58810d8e6472"
        ],
        "uncaught": false,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "bd5fce99d42b852a"
            ]
        ]
    },
    {
        "id": "82c88ec1c1e8f8bf",
        "type": "debug",
        "z": "4a85ca0db70e0d85",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "a40d02fdfdbb1916",
        "type": "comment",
        "z": "4a85ca0db70e0d85",
        "name": "Exceptions",
        "info": "This node does not catch errors from 'Normalize Log Events' and 'Log Database' to prevent an infinity loop when the database is down.",
        "x": 220,
        "y": 460,
        "wires": []
    },
    {
        "id": "b08de873a8827b16",
        "type": "comment",
        "z": "4a85ca0db70e0d85",
        "name": "Edit port details to match your computer's port.",
        "info": "",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "fcbe826f2d8669af",
        "type": "inject",
        "z": "fe649a070c585a18",
        "name": "Load Raw CSV",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "250c678a8a748ac7"
            ]
        ]
    },
    {
        "id": "250c678a8a748ac7",
        "type": "file in",
        "z": "fe649a070c585a18",
        "name": "",
        "filename": "/data/data/test_raw.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 770,
        "y": 300,
        "wires": [
            [
                "57fa988876a4d07f"
            ]
        ]
    },
    {
        "id": "b9b22a1b2cca10af",
        "type": "comment",
        "z": "fe649a070c585a18",
        "name": "Edit Path to Insert Your File",
        "info": "",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "57fa988876a4d07f",
        "type": "split",
        "z": "fe649a070c585a18",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "70f2b8a1bbd2ba7a"
            ]
        ]
    },
    {
        "id": "70f2b8a1bbd2ba7a",
        "type": "function",
        "z": "fe649a070c585a18",
        "name": "Ignore Blank Frames",
        "func": "// In case CSV has blank lines.\nif (!msg.payload || !msg.payload.trim()) return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 300,
        "wires": [
            [
                "ba0281515b0dd58a"
            ]
        ]
    },
    {
        "id": "ba0281515b0dd58a",
        "type": "link out",
        "z": "fe649a070c585a18",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "5a6c2c12c02ef4b5",
            "595351ac2dd69914"
        ],
        "x": 1445,
        "y": 300,
        "wires": []
    },
    {
        "id": "1459cd38c928d2fa",
        "type": "inject",
        "z": "fe649a070c585a18",
        "name": "Load Processed CSV",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "e3bb315336d0689d"
            ]
        ]
    },
    {
        "id": "e3bb315336d0689d",
        "type": "file in",
        "z": "fe649a070c585a18",
        "name": "",
        "filename": "/data/data/test_processed.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 830,
        "y": 500,
        "wires": [
            [
                "dac8e0203f47a37d"
            ]
        ]
    },
    {
        "id": "b84d805519024d9f",
        "type": "comment",
        "z": "fe649a070c585a18",
        "name": "Edit Path to Insert Your File",
        "info": "",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "dac8e0203f47a37d",
        "type": "split",
        "z": "fe649a070c585a18",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1050,
        "y": 500,
        "wires": [
            [
                "cc8360773dede9bc"
            ]
        ]
    },
    {
        "id": "cc8360773dede9bc",
        "type": "function",
        "z": "fe649a070c585a18",
        "name": "Ignore Blank Frames",
        "func": "// In case CSV has blank lines.\nif (!msg.payload || !msg.payload.trim()) return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 500,
        "wires": [
            [
                "ba182e96d5778aeb"
            ]
        ]
    },
    {
        "id": "ba182e96d5778aeb",
        "type": "function",
        "z": "fe649a070c585a18",
        "name": "Strip Timestamp",
        "func": "try {\n\n    const fields = String(msg.payload).split(\",\");\n\n    if (fields.length >= 16) {\n        const ts = fields[0].trim();\n        const parsed = new Date(ts);\n\n        if (!ts || isNaN(parsed.getTime())) {\n            const m = `Invalid timestamp: \"${ts}\" — row dropped.`;\n            node.warn(m);\n            sendLog(\"warn\", m);\n            return null;\n        }\n\n        msg.timestamp = parsed.toISOString();\n        msg.payload = fields.slice(1, 16).join(\",\");\n\n    } else {\n        const m = `Bad field count: got ${fields.length}, expected 16+. Row dropped. Are you sure this data has been processed? `;\n        node.warn(m);\n        sendLog(\"warn\", m);\n        return null;\n    }\n\n    return msg;\n\n    // -----------------------------------------\n    // Defining Functions\n    // -----------------------------------------\n\n    function sendLog(level, message) {\n        node.send([null, {\n            payload: {\n                time: new Date().toISOString(),\n                level: level,\n                node: \"Strip Timestamp\",\n                message: message,\n                fields: null\n            }\n        }]);\n    }\n\n} catch (error) {\n    node.error(`Critical Failure in 'Strip Timestamp': ${error.message}`, msg);\n    return null;\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 500,
        "wires": [
            [
                "5b0e12c348a602a4"
            ],
            [
                "70d78daf4231c3c7"
            ]
        ]
    },
    {
        "id": "5b0e12c348a602a4",
        "type": "function",
        "z": "fe649a070c585a18",
        "name": "Parse Processed CSV",
        "func": "try {\n\n    const fields = String(msg.payload).split(\",\");\n\n    if (fields.length < 15) {\n        const m = `Processed CSV: bad field count (got ${fields.length}, expected 15). Row dropped.`;\n        node.warn(m);\n        sendLog(\"warn\", m);\n        return null;\n    }\n\n    // Column order (timestamp already stripped by Strip Timestamp):\n    // [0]=rpm [1]=amp [2]=volt [3]=trq [4]=mode\n    // [5]=err [6]=warn [7]=igbt_c [8]=mot_c\n    // [9]=l_regen [10]=l_err [11]=l_warn [12]=l_ok [13]=l_pump [14]=drive_ena\n\n    msg.params = [\n        msg.timestamp,\n        parseNum(fields[0]),   // rpm\n        parseNum(fields[1]),   // amp\n        parseNum(fields[2]),   // volt\n        parseNum(fields[3]),   // trq\n        parseInt_(fields[4]),  // mode\n        parseInt_(fields[5]),  // err\n        parseInt_(fields[6]),  // warn\n        parseNum(fields[7]),   // igbt_c\n        parseNum(fields[8]),   // mot_c\n        parseBool(fields[9]),  // l_regen\n        parseBool(fields[10]), // l_err\n        parseBool(fields[11]), // l_warn\n        parseBool(fields[12]), // l_ok\n        parseBool(fields[13]), // l_pump\n        parseBool(fields[14]), // drive_ena\n        null                   // healed_fields (not applicable for import)\n    ];\n\n    msg.payload = msg.params;\n    return msg;\n\n    // -----------------------------------------\n    // Defining Functions\n    // -----------------------------------------\n\n    function parseNum(v) {\n        const n = parseFloat(v);\n        return isNaN(n) ? null : n;\n    }\n\n    function parseInt_(v) {\n        const n = parseInt(v, 10);\n        return isNaN(n) ? null : n;\n    }\n\n    function parseBool(v) {\n        const s = String(v).trim().toLowerCase();\n        if (s === \"true\"  || s === \"t\" || s === \"1\") return true;\n        if (s === \"false\" || s === \"f\" || s === \"0\") return false;\n        return null;\n    }\n\n    function sendLog(level, message) {\n        node.send([null, {\n            payload: {\n                time:    msg.timestamp,\n                level:   level,\n                node:    \"Parse Processed CSV\",\n                message: message,\n                fields:  null\n            }\n        }]);\n    }\n\n} catch (error) {\n    node.error(`Critical Failure in 'Parse Processed CSV': ${error.message}`, msg);\n    return null;\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 500,
        "wires": [
            [
                "613a4ac7f9d76fe1"
            ],
            [
                "70d78daf4231c3c7"
            ]
        ]
    },
    {
        "id": "613a4ac7f9d76fe1",
        "type": "postgresql",
        "z": "fe649a070c585a18",
        "name": "Car Telemetry Database",
        "query": "INSERT INTO telemetry_records\n    (time, rpm, amp, volt, trq, mode, err, warn, igbt_c, mot_c,\n     l_regen, l_err, l_warn, l_ok, l_pump, drive_ena, healed_fields)\nVALUES\n    ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17);",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2150,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "70d78daf4231c3c7",
        "type": "function",
        "z": "fe649a070c585a18",
        "name": "Normalize Log Event",
        "func": "try {\n\n    // PATH A: If this message was intercepted by the global 'catch' node\n    if (msg.error) {\n        msg.params = [\n            msg.timestamp || new Date().toISOString(),  \n            // Probably code-related error, so the content in 'try' wouldn't execute for that node.\n            \"critical\",                                \n            msg.error.source?.name || \"Unknown Block\",   \n            `CRASH: ${msg.error.message}`,              \n            null                                        \n        ];\n    }\n    // PATH B: Standard manual log coming from Output Port 2 nodes \n    else if (msg.payload && msg.payload.level) {\n        msg.params = [\n            msg.payload.time,\n            msg.payload.level,\n            msg.payload.node,\n            msg.payload.message,\n            msg.payload.fields\n        ];\n    }\n    // PATH C: Safety valve for unexpected message formats \n    else {\n        node.error(\"'Normalize Log Event' node received an unrecognized message payload shape.\");\n        return null;\n    }\n\n    return msg;\n\n} catch (error) {\n\n    node.error(`Error inside 'Normalize Log Event' node: ${error.message}`, msg);\n    return null;\n\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 760,
        "wires": [
            [
                "2bf0e2c7bb8d79c0",
                "3155d576462f3db5"
            ]
        ]
    },
    {
        "id": "2bf0e2c7bb8d79c0",
        "type": "postgresql",
        "z": "fe649a070c585a18",
        "name": "Log Database",
        "query": "INSERT INTO event_logs (time, level, node, message, fields)\nVALUES ($1, $2, $3, $4, $5);",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1740,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "271232750824bfd1",
        "type": "catch",
        "z": "fe649a070c585a18",
        "name": "",
        "scope": [
            "613a4ac7f9d76fe1",
            "5b0e12c348a602a4",
            "ba182e96d5778aeb",
            "cc8360773dede9bc",
            "dac8e0203f47a37d",
            "e3bb315336d0689d",
            "1459cd38c928d2fa",
            "ba0281515b0dd58a",
            "70f2b8a1bbd2ba7a",
            "57fa988876a4d07f",
            "250c678a8a748ac7",
            "fcbe826f2d8669af"
        ],
        "uncaught": false,
        "x": 1140,
        "y": 760,
        "wires": [
            [
                "70d78daf4231c3c7"
            ]
        ]
    },
    {
        "id": "3155d576462f3db5",
        "type": "debug",
        "z": "fe649a070c585a18",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 860,
        "wires": []
    },
    {
        "id": "cb576f911d0f1671",
        "type": "comment",
        "z": "fe649a070c585a18",
        "name": "Exceptions",
        "info": "This node does not catch errors from 'Normalize Log Events' and 'Log Database' to prevent an infinity loop when the database is down.",
        "x": 1140,
        "y": 800,
        "wires": []
    },
    {
        "id": "017f90c69de76e45",
        "type": "comment",
        "z": "fe649a070c585a18",
        "name": "CSV with Raw Values",
        "info": "",
        "x": 300,
        "y": 300,
        "wires": []
    },
    {
        "id": "667dc6de3b7691ee",
        "type": "comment",
        "z": "fe649a070c585a18",
        "name": "CSV That Already Went Through Our Program",
        "info": "",
        "x": 230,
        "y": 500,
        "wires": []
    },
    {
        "id": "2c49a56cd0123cac",
        "type": "comment",
        "z": "fe649a070c585a18",
        "name": "Parse Out Timestamp (No Healing)",
        "info": "",
        "x": 1540,
        "y": 460,
        "wires": []
    },
    {
        "id": "6dc119dca255f8c0",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Test Injection Node",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "e46f4e14fa357fb2"
            ]
        ]
    },
    {
        "id": "e46f4e14fa357fb2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "FAKE Data Generator",
        "func": "// ════════════════════════════════════════════════════════════\n// RANDOM CONTINUOUS DRIVING SIMULATOR\n// Click inject → one self-paced cycle → stop.\n// Status line is fixed-width — bar position and length never shift.\n// ════════════════════════════════════════════════════════════\n\nvar TICK_MS = 300;\nvar BAR_WIDTH = 12;\n\nfunction clamp(v, lo, hi) { return Math.max(lo, Math.min(hi, v)); }\nfunction noise(amp) { return (Math.random() * 2 - 1) * amp; }\nfunction approach(cur, tgt, step) { return cur + clamp(tgt - cur, -step, step); }\n\n// Fixed-width bar using true block-element chars (same glyph width)\nfunction makeBar(pct) {\n    var filled = Math.round((pct / 100) * BAR_WIDTH);\n    if (filled < 0) filled = 0;\n    if (filled > BAR_WIDTH) filled = BAR_WIDTH;\n    return \"[\" + \"█\".repeat(filled) + \"░\".repeat(BAR_WIDTH - filled) + \"]\";\n}\n\n// Always 4 chars: \"  0%\" … \" 42%\" … \"100%\"\nfunction padPct(pct) {\n    var s = Math.round(pct) + \"%\";\n    while (s.length < 4) s = \" \" + s;\n    return s;\n}\n\n// Always 6 chars (longest phase name is \"CRUISE\")\nfunction padPhase(name) {\n    var s = name;\n    while (s.length < 6) s = s + \" \";\n    return s;\n}\n\nfunction buildPhaseList() {\n    return [\n        { name: \"IDLE\", dur: 1.5 + Math.random() * 1.5 },\n        { name: \"ACCEL\", dur: 5 + Math.random() * 4 },\n        { name: \"CRUISE\", dur: 4 + Math.random() * 5 },\n        { name: \"COAST\", dur: 2 + Math.random() * 2 },\n        { name: \"REGEN\", dur: 3 + Math.random() * 3 },\n        { name: \"STOP\", dur: 1.5 + Math.random() * 1.5 }\n    ];\n}\n\n// Kill previous run\nvar oldHandle = context.get(\"handle\");\nif (oldHandle) { clearInterval(oldHandle); context.set(\"handle\", null); }\n\n// Fresh state\nvar phaseList = buildPhaseList();\nvar totalDur = phaseList.reduce(function (a, p) { return a + p.dur; }, 0);\n\nvar s = {\n    startMs: Date.now(), lastMs: Date.now(), elapsed: 0,\n    phaseList: phaseList,\n    totalDur: totalDur,\n    phaseIdx: 0,\n    phase: phaseList[0].name,\n    phaseStartSec: 0,\n    phaseDurSec: phaseList[0].dur,\n    rpm: 0, targetRpm: 0,\n    amp: 0, trq: 0,\n    volt: 19660, igbtC: 19739, motC: 11644,\n    L_REGEN: 0, warn: 0, err: 0,\n    done: false\n};\ncontext.set(\"state\", s);\nnode.status({\n    fill: \"blue\", shape: \"dot\",\n    text: makeBar(0) + \" \" + padPct(0) + \" \" + padPhase(s.phase)\n});\n\nvar handle = setInterval(function () {\n    var s = context.get(\"state\");\n    if (!s || s.done) {\n        clearInterval(handle);\n        context.set(\"handle\", null);\n        if (s) node.status({\n            fill: \"grey\", shape: \"dot\",\n            text: makeBar(100) + \" \" + padPct(100) + \" \" + padPhase(\"DONE\")\n        });\n        return;\n    }\n\n    var now = Date.now();\n    var dt = (now - s.lastMs) / 1000;\n    if (dt <= 0) dt = 0.001;\n    if (dt > 1.0) dt = 1.0;\n    s.lastMs = now;\n    s.elapsed = (now - s.startMs) / 1000;\n\n    while (!s.done && s.elapsed >= s.phaseStartSec + s.phaseDurSec) {\n        s.phaseStartSec += s.phaseDurSec;\n        s.phaseIdx++;\n        if (s.phaseIdx >= s.phaseList.length) { s.done = true; break; }\n        s.phase = s.phaseList[s.phaseIdx].name;\n        s.phaseDurSec = s.phaseList[s.phaseIdx].dur;\n        switch (s.phase) {\n            case \"ACCEL\": s.targetRpm = 12000 + Math.floor(Math.random() * 20000); break;\n            case \"CRUISE\": s.targetRpm = s.rpm + Math.floor(noise(1500)); break;\n            case \"COAST\": s.targetRpm = Math.floor(s.rpm * 0.6); break;\n            case \"REGEN\": s.targetRpm = 0;\n                s.L_REGEN = 1 + Math.floor(Math.random() * 3); break;\n            case \"STOP\": s.targetRpm = 0; s.L_REGEN = 0; break;\n        }\n    }\n\n    if (s.done) {\n        context.set(\"state\", s);\n        clearInterval(handle);\n        context.set(\"handle\", null);\n        node.status({\n            fill: \"grey\", shape: \"dot\",\n            text: makeBar(100) + \" \" + padPct(100) + \" \" + padPhase(\"DONE\")\n        });\n        return;\n    }\n\n    // ── Physics ──\n    var rpmRate = (s.phase === \"REGEN\" || s.phase === \"COAST\") ? 6000 : 5000;\n    s.rpm = approach(s.rpm, s.targetRpm, rpmRate * dt) + noise(250 * Math.sqrt(dt));\n    s.rpm = clamp(Math.round(s.rpm), -32767, 32767);\n\n    switch (s.phase) {\n        case \"IDLE\": case \"STOP\":\n            s.amp = Math.round(noise(400)); s.trq = Math.round(noise(400)); s.L_REGEN = 0; break;\n        case \"ACCEL\":\n            s.amp = clamp(Math.round(18000 + noise(3500) - Math.abs(s.rpm) * 0.2), 0, 32767);\n            s.trq = clamp(Math.round(22000 + noise(3500) - Math.abs(s.rpm) * 0.3), 0, 32767);\n            s.L_REGEN = 0; break;\n        case \"CRUISE\":\n            s.amp = clamp(Math.round(5000 + noise(1800)), 0, 32767);\n            s.trq = clamp(Math.round(4000 + noise(1800)), 0, 32767);\n            s.L_REGEN = 0; break;\n        case \"COAST\":\n            s.amp = Math.round(noise(700)); s.trq = Math.round(noise(700));\n            s.L_REGEN = 0; break;\n        case \"REGEN\":\n            var rg = 4000 * s.L_REGEN;\n            s.amp = clamp(Math.round(-rg + noise(1200)), -32767, 0);\n            s.trq = clamp(Math.round(-rg * 1.7 + noise(1200)), -32767, 0);\n            break;\n    }\n\n    var voltTarget = 19660 - (s.amp / 32767) * 3000 + noise(120);\n    s.volt = clamp(Math.round(approach(s.volt, voltTarget, 1500 * dt)), 0, 32767);\n\n    var loadFactor = Math.abs(s.amp) / 32767;\n    var heatRate = loadFactor * 30;\n    var coolRate = 8;\n    s.igbtC += (heatRate - coolRate) * dt + noise(15 * Math.sqrt(dt));\n    s.motC += (heatRate * 0.6 - coolRate * 0.5) * dt + noise(10 * Math.sqrt(dt));\n    s.igbtC = clamp(Math.round(s.igbtC), 18387, 28000);\n    s.motC = clamp(Math.round(s.motC), 11446, 16500);\n\n    s.warn = 0; s.err = 0;\n    if (s.igbtC >= 24775) s.warn |= 1;\n    if (Math.abs(s.amp) > 28000) s.warn |= 2;\n    if (Math.random() < 0.005) s.warn |= 256;\n    if (s.igbtC >= 26702) { s.err = 8; s.rpm = 0; s.amp = 0; s.trq = 0; }\n\n    var L_OK = (s.err === 0) ? 1 : 0;\n    var L_ERR = (s.err !== 0) ? 1 : 0;\n    var L_WARN = (s.warn !== 0) ? 1 : 0;\n    var L_PUMP = (s.igbtC >= 21357 || s.motC >= 12747) ? 1 : 0;\n    var drive_ena = (s.err === 0) ? 1 : 0;\n\n    context.set(\"state\", s);\n\n    node.send({\n        payload: [\n            s.rpm, s.amp, s.volt, s.trq, \"D\",\n            s.igbtC, s.motC, s.err, s.warn,\n            s.L_REGEN, L_ERR, L_WARN, L_OK, L_PUMP, drive_ena\n        ].join(\",\")\n    });\n\n    var pct = clamp((s.elapsed / s.totalDur) * 100, 0, 100);\n\n    node.status({\n        fill: (s.err ? \"red\" : (s.warn ? \"yellow\" : \"green\")),\n        shape: \"dot\",\n        text: makeBar(pct) + \" \" + padPct(pct) + \" \" + padPhase(s.phase)\n    });\n}, TICK_MS);\n\ncontext.set(\"handle\", handle);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "var h = context.get(\"handle\");\nif (h) clearInterval(h);",
        "libs": [],
        "x": 540,
        "y": 560,
        "wires": [
            [
                "e49b91faaf764bc0"
            ]
        ]
    },
    {
        "id": "96914126869b24ea",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Parse CSV",
        "func": "try {\n\n    // Stamp the frame immediately so every warning shares the same timestamp.\n    msg.timestamp = msg.timestamp || new Date().toISOString();\n\n    // Parse the 15-field CSV frame. \n    const rawDataFrame = String(msg.payload).split(\",\");\n\n    // If any required field is missing, drop the frame with a clear warning.\n    if (rawDataFrame.length !== 15) {\n        const m = `Bad frame: got ${rawDataFrame.length} fields, expected 15. This frame is dropped.`;\n        node.warn(m);\n        sendLog(\"warn\", m);\n        return null;\n    }\n\n    // Mode (rawDataFrame[4]) is checked separately because it is expected as a string. \n    // It defaults to an empty string in case there's no value.\n    // It trims spaces just in case.\n    const mode = String(rawDataFrame[4] ?? \"\").trim();\n    if (!mode) {\n        const m = \"Missing mode. This frame is dropped.\";\n        node.warn(m);\n        sendLog(\"warn\", m);\n        return null;\n    }\n\n    // Mark all the numeric fields. \n    const numericFields = [\n        [\"rpm\", 0], [\"amp\", 1], [\"volt\", 2], [\"trq\", 3],\n        [\"igbtC\", 5], [\"motC\", 6], [\"err\", 7], [\"warn\", 8],\n        [\"L_REGEN\", 9], [\"L_ERR\", 10], [\"L_WARN\", 11], [\"L_OK\", 12],\n        [\"L_PUMP\", 13], [\"drive_ena\", 14]\n    ];\n\n    // Build into a local sandbox. Only commit to msg.raw if every field passes.\n    // 'Mode' is already checked, so it is immediately thrown in.\n    const raw = { mode };\n    // Process other telemetry fields sequentially using the mapping checklist.\n    for (const [name, idx] of numericFields) {\n        const value = pick(idx, name);\n        if (value === null) return null;\n        // Put the verified values into the output object.\n        raw[name] = value;\n    }\n\n    // Every field is valid. Commit the sandbox to the message.\n    msg.raw = raw;\n\n    return msg;\n\n\n    // -----------------------------------------\n    // Defining Functions\n    // -----------------------------------------\n\n    // pick: Parses a numeric field, warns and returns null if invalid.\n    function pick(idx, name) {\n        const raw = rawDataFrame[idx];\n        // Check if it's undefined or if there is no value.\n        if (raw === undefined || raw === \"\") {\n            const m = `Missing field: ${name}. This frame is dropped.`;\n            node.warn(m);\n            sendLog(\"warn\", m);\n            return null;\n        }\n        // Before this, all of them are strings. Try converting them into numbers. If it's not a number, it will be NaN.\n        const rawNumber = Number(raw);\n        \n        // Check if it is a number. If not (NaN), then drop it.\n        if (Number.isNaN(rawNumber)) {\n            const m = `Bad ${name}: ${JSON.stringify(raw)} is not a number. This frame is dropped.`;\n            node.warn(m);\n            sendLog(\"warn\", m);\n            return null;\n        }\n        // Everything is fine, return the number. \n        return rawNumber;\n    }\n\n    function sendLog(level, message) {\n        node.send([null, {\n            payload: {\n                time: msg.timestamp,\n                level: level,\n                node: \"Parse CSV\",\n                message: message,\n                fields: null\n            }\n        }]);\n    }\n\n} catch (error) {\n\n    // For this part, these are critical unknown errors, so it's best if we just drop the entire frame. No healing. Fix the bug.\n    node.error(`Critical Failure in 'Parse CSV' Node: ${error.message}. This frame is dropped.`, msg);\n    return null;\n\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 420,
        "wires": [
            [
                "6c7f7fa4f1efcdad"
            ],
            [
                "f363f34901490c9c"
            ]
        ]
    },
    {
        "id": "6c7f7fa4f1efcdad",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Raw to Real Convertion (rpm/amp/volt/trq)",
        "func": "try {\n\n    // Creating a container.\n    msg.real = {};\n\n    // Throw in timestamp.\n    msg.real.time = msg.timestamp;\n\n    // Scale raw 0–32767 values for rpm/amp/volt/trq in real-world units.\n    const RAW_MAX = 32767;\n    const RAW_MIN = -32767;\n\n    // Divide the incoming raw number by the absolute maximum possible raw number to obtain the percentage.\n    // Then, multiply the percentage with the real-world limit to obtain the real-world reading. \n\n    // rpm is rounded to the nearest whole number to prevent fake precision.\n    msg.real.rpm = validateRaw(msg.raw.rpm, \"rpm\") ? Math.round((msg.raw.rpm / RAW_MAX) * 5500) : null;\n\n    // The rest are rounded to 1 decimal point. '+' returns value as 'number'.\n    msg.real.amp = validateRaw(msg.raw.amp, \"amp\") ? +((msg.raw.amp / RAW_MAX) * 212.1).toFixed(1) : null;\n    msg.real.volt = validateRaw(msg.raw.volt, \"volt\") ? +((msg.raw.volt / RAW_MAX) * 200).toFixed(1) : null;\n    msg.real.trq = validateRaw(msg.raw.trq, \"trq\") ? +((msg.raw.trq / RAW_MAX) * 125).toFixed(1) : null;\n\n    return msg;\n\n    // -----------------------------------------\n    // Defining Functions\n    // -----------------------------------------\n\n\n    // Helper function to validate, log errors to the database, and trigger null assignment\n    function validateRaw(val, fieldName) {\n        if (typeof val === 'number' && val >= RAW_MIN && val <= RAW_MAX) {\n            return true;\n        }\n        // If validation fails...\n        const m = `Mapping Error: Received invalid raw ${fieldName} [\"${val}\"]. Passing null forward.`;\n        node.warn(m);\n        sendLog(\"warn\", m);\n        return false;\n    }\n\n    function sendLog(level, message) {\n        node.send([null, {\n            payload: {\n                time: msg.timestamp,\n                level: level,\n                node: \"Raw to Real Conversion\",\n                message: message,\n                fields: null\n            }\n        }]);\n    }\n\n} catch (error) {\n\n    // For this part, these are critical unknown errors, so it's best if we just drop the entire frame. No healing. Fix the bug.\n    node.error(`Critical Failure in 'Raw to Real Conversion' Node: ${error.message}. This frame is dropped.`, msg);\n    return null;\n\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 420,
        "wires": [
            [
                "0d1965e529e9c3f2"
            ],
            [
                "f363f34901490c9c"
            ]
        ]
    },
    {
        "id": "4becac2134c56c46",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Temperature Conversion (igbt_c/mot_c)",
        "func": "try {\n\n    // IGBT table reference\n    const IGBT_TABLE = [\n        [16308, -30], [16387, -25], [16487, -20], [16609, -15], [16757, -10],\n        [16938, -5], [17151, 0], [17400, 5], [17688, 10], [18017, 15],\n        [18387, 20], [18797, 25], [19247, 30], [19733, 35], [20250, 40],\n        [20793, 45], [21357, 50], [21933, 55], [22515, 60], [23097, 65],\n        [23671, 70], [24232, 75], [24775, 80], [25296, 85], [25792, 90],\n        [26261, 95], [26702, 100], [27114, 105], [27497, 110], [27851, 115],\n        [28179, 120], [28480, 125]\n    ];\n\n    // IGBT temp: 32-point lookup table + linear interpolation\n    msg.real.igbt_c = calculateIgbtTemp(msg.raw.igbtC);\n\n    // Motor temp: two-point linear fit (raw 11446 = 30°C, raw 16000 = 100°C).\n    msg.real.mot_c = calculateMotorTemp(msg.raw.motC);\n\n\n    return msg;\n\n    // -----------------------------------------\n    // Defining Functions\n    // -----------------------------------------\n\n    function calculateIgbtTemp(rawIgbtValue) {\n        if (rawIgbtValue < IGBT_TABLE[0][0] || rawIgbtValue > IGBT_TABLE[IGBT_TABLE.length - 1][0]) {\n            const m = `Out of range: igbt_c raw value ${rawIgbtValue} is outside the lookup table. Passing null forward.`;\n            node.warn(m);\n            sendLog(\"warn\", m);\n            return null;\n        }\n        for (let i = 0; i < IGBT_TABLE.length - 1; i++) {\n            const [x0, y0] = IGBT_TABLE[i], [x1, y1] = IGBT_TABLE[i + 1];\n            if (rawIgbtValue >= x0 && rawIgbtValue <= x1) return +(y0 + (rawIgbtValue - x0) * (y1 - y0) / (x1 - x0)).toFixed(2);\n        }\n        const m = `Calculation Error: igbt_c raw value [${rawIgbtValue}] fell through a table gap or is NaN.`;\n        node.warn(m);\n        sendLog(\"warn\", m);\n        return null;\n    }\n\n    function calculateMotorTemp(rawMotorValue) {\n        if (rawMotorValue < 10000 || rawMotorValue > 20000) {\n            const m = `Out of range: mot_c raw value ${rawMotorValue} is outside the expected range. Passing null forward.`;\n            node.warn(m);\n            sendLog(\"warn\", m);\n            return null;\n        }\n        const x1 = 11446, y1 = 30, x2 = 16000, y2 = 100;\n        return +(y1 + (rawMotorValue - x1) * (y2 - y1) / (x2 - x1)).toFixed(2);\n    }\n\n    function sendLog(level, message) {\n        node.send([null, {\n            payload: {\n                time: msg.timestamp,\n                level: level,\n                node: \"Temperature Conversion\",\n                message: message,\n                fields: null\n            }\n        }]);\n    }\n\n} catch (error) {\n\n    // For this part, these are critical unknown errors, so it's best if we just drop the entire frame. No healing. Fix the bug.\n    node.error(`Critical Failure in 'Temperature Conversion' Node: ${error.message}. This frame is dropped.`, msg);\n    return null;\n\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2380,
        "y": 420,
        "wires": [
            [
                "fd0b118cc2d5b290"
            ],
            [
                "f363f34901490c9c"
            ]
        ]
    },
    {
        "id": "f5eb9aa29c573436",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Flags (L_REGEN/L_ERR/L_WARN_L_OK/L_PUMP/drive_ena)",
        "func": "try {\n    // Strict Binary Flag Type Conversion\n    const flagKeys = ['L_REGEN', 'L_ERR', 'L_WARN', 'L_OK', 'L_PUMP', 'drive_ena'];\n\n    // Start a loop that steps through the checklist one flag at a time\n    for (const key of flagKeys) {\n        const rawValue = msg.raw[key];\n        const outputKey = key.toLowerCase(); // maps 'L_REGEN' to 'l_regen'\n\n        if (rawValue === 0) {\n            msg.real[outputKey] = false;\n        } else if (rawValue === 1) {\n            msg.real[outputKey] = true;\n        } else {\n            // No healing. If it is corrupted, set to null and alert the DB.\n            const m = `Mapping Error: Corrupted binary signal on flag [${key}] = \"${rawValue}\". Passing null forward.`;\n            node.warn(m);\n            sendLog(\"error\", m);\n            \n            msg.real[outputKey] = null;\n        }\n    }\n\n    return msg;\n\n    // -----------------------------------------\n    // Defining Functions\n    // -----------------------------------------\n\n    function sendLog(level, message) {\n        node.send([null, {\n            payload: {\n                time: msg.timestamp,\n                level: level,\n                node: \"Flags\",\n                message: message,\n                fields: null // No fields were healed, so we pass null to the DB\n            }\n        }]);\n    }\n\n} catch (error) {\n    // For this part, these are critical unknown errors, so it's best if we just drop the entire frame.\n    node.error(`Critical Failure in 'Flags' Node: ${error.message}. This frame is dropped.`, msg);\n    return null;\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3380,
        "y": 420,
        "wires": [
            [
                "6484947809e67f98"
            ],
            [
                "f363f34901490c9c"
            ]
        ]
    },
    {
        "id": "fd0b118cc2d5b290",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Heal (rpm/amp/volt/trq/igbt_c/mot_c/mode)",
        "func": "try {\n\n    // 1. Fetch the entire last known good snapshot of the car from memory.\n    const defaults = { rpm: 0, amp: 0.0, volt: 0.0, trq: 0.0, igbt_c: 0.00, mot_c: 0.00, mode: 0 };\n    // Put in defaults first, then replace the ones exist in snapshot to prevent error from later fields being null.\n    let history = { ...defaults, ...(context.get(\"carHistorySnapshot\") ?? {}) };\n\n    const r = msg.real;\n\n    // 2. Initialize as an ARRAY so it passes down the wire cleanly\n    msg.healedFields = [];\n\n    // 3. Numerical Boundaries Checklist\n    const ranges = {\n        rpm: [-6000, 6000],\n        amp: [-250, 250],\n        volt: [-250, 250],\n        trq: [-150, 150],\n        igbt_c: [-40, 200],\n        mot_c: [-40, 200],\n        mode: [0, 2],       // 0 = Neutral, 1 = Drive, 2 = Reverse\n    };\n\n    // 4. Scan and heal numerical metrics\n    for (const k of Object.keys(ranges)) {\n        const [lo, hi] = ranges[k];\n\n        if (Number.isNaN(r[k]) || r[k] === undefined || r[k] === null || r[k] < lo || r[k] > hi) {\n            const m = `Glitch caught: ${k} = ${r[k]} → healed from history (${history[k]}).`;\n            node.warn(m);\n\n            // Push the healed field name into the array\n            msg.healedFields.push(k);\n            r[k] = history[k];   // Heal using history\n        } else {\n            history[k] = r[k];   // Update history pad\n        }\n    }\n\n    // 5. Save the complete vehicle snapshot back to node memory.\n    context.set(\"carHistorySnapshot\", history);\n\n    // 6. If any fields were healed, send ONE summary entry to the DB log table.\n    if (msg.healedFields.length > 0) {\n        const m = `Healed ${msg.healedFields.length} field(s): [${msg.healedFields.join(\", \")}]`;\n        node.warn(m);\n        sendLog(\"warn\", m, msg.healedFields);\n    }\n\n    return msg;\n\n    // -----------------------------------------\n    // Defining Functions\n    // -----------------------------------------\n\n    function sendLog(level, message, fields = null) {\n        node.send([null, {\n            payload: {\n                time: msg.timestamp,\n                level: level,\n                // Updated node name to reflect the split\n                node: \"Heal\",\n                message: message,\n                fields: fields\n            }\n        }]);\n    }\n\n} catch (error) {\n\n    // Updated node name to reflect the split\n    node.error(`Critical Failure in 'Heal' Node: ${error.message}. This frame is dropped.`, msg);\n    return null;\n\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2910,
        "y": 420,
        "wires": [
            [
                "f5eb9aa29c573436"
            ],
            [
                "f363f34901490c9c"
            ]
        ]
    },
    {
        "id": "ab62583cbb880fb1",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Car Telemetry Database",
        "query": "INSERT INTO telemetry_records\n    (time, rpm, amp, volt, trq, mode, err, warn, igbt_c, mot_c,\n     l_regen, l_err, l_warn, l_ok, l_pump, drive_ena, healed_fields)\nVALUES\n    ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17);",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 4510,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7f3c0e669b55d59b",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "convert + return null of corrupted",
        "info": "",
        "x": 2350,
        "y": 380,
        "wires": []
    },
    {
        "id": "2c76aa20ad7024e0",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "convert + return null if corrupted",
        "info": "",
        "x": 1590,
        "y": 380,
        "wires": []
    },
    {
        "id": "4c1ed64f12bd3544",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Convert + return null if not boolean",
        "info": "",
        "x": 3300,
        "y": 380,
        "wires": []
    },
    {
        "id": "f66ca6e3c74deafe",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "convert + return null if corrupted",
        "info": "",
        "x": 2010,
        "y": 380,
        "wires": []
    },
    {
        "id": "0d1965e529e9c3f2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Map Mode (mode)",
        "func": "try {\n\n    const MODE_MAP = { D: 1, R: 2, N: 0 };\n\n    // If the gear character is valid, map it to its ID.\n    if (msg.raw.mode !== undefined && msg.raw.mode in MODE_MAP) {\n        msg.real.mode = MODE_MAP[msg.raw.mode];\n    } else {\n        // Alert the pit wall if garbage data slips into the gear register.\n        const m = `Mapping Error: Received invalid Drive Mode character [\"${msg.raw.mode}\"]. Passing null forward.`;\n        node.warn(m);\n        sendLog(\"warn\", m);\n        msg.real.mode = null;\n    }\n\n    return msg;\n\n    // -----------------------------------------\n    // Defining Functions\n    // -----------------------------------------\n\n    function sendLog(level, message) {\n        node.send([null, {\n            payload: {\n                time: msg.timestamp,\n                level: level,\n                node: \"Map Mode\",\n                message: message,\n                fields: null\n            }\n        }]);\n    }\n\n} catch (error) {\n\n    // For this part, these are critical unknown errors, so it's best if we just drop the entire frame. No healing. Fix the bug.\n    node.error(`Critical Failure in 'Map Mode' Node: ${error.message}. This frame is dropped.`, msg);\n    return null;\n\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 420,
        "wires": [
            [
                "4becac2134c56c46"
            ],
            [
                "f363f34901490c9c"
            ]
        ]
    },
    {
        "id": "d888589ab7779164",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "ONLY click for testing the program",
        "info": "",
        "x": 300,
        "y": 520,
        "wires": []
    },
    {
        "id": "4f6c54bcaefcbdf9",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Parse + Drop Entire Frame",
        "info": "Drop the entire frame if:\n1. More than 15 fields are detected per frame.\n2. Any field contains wrong data type.",
        "x": 1250,
        "y": 380,
        "wires": []
    },
    {
        "id": "f363f34901490c9c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Normalize Log Event",
        "func": "try {\n\n    // PATH A: If this message was intercepted by the global 'catch' node\n    if (msg.error) {\n        msg.params = [\n            msg.timestamp || new Date().toISOString(),  \n            // Probably code-related error, so the content in 'try' wouldn't execute for that node.\n            \"critical\",                                \n            msg.error.source?.name || \"Unknown Block\",   \n            `CRASH: ${msg.error.message}`,              \n            null                                        \n        ];\n    }\n    // PATH B: Standard manual log coming from Output Port 2 nodes \n    else if (msg.payload && msg.payload.level) {\n        msg.params = [\n            msg.payload.time,\n            msg.payload.level,\n            msg.payload.node,\n            msg.payload.message,\n            msg.payload.fields\n        ];\n    }\n    // PATH C: Safety valve for unexpected message formats \n    else {\n        node.error(\"'Normalize Log Event' node received an unrecognized message payload shape.\");\n        return null;\n    }\n\n    return msg;\n\n} catch (error) {\n\n    node.error(`Error inside 'Normalize Log Event' node: ${error.message}`, msg);\n    return null;\n\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2920,
        "y": 760,
        "wires": [
            [
                "3ae4f79c977a509d",
                "7605a6c5d2623b81"
            ]
        ]
    },
    {
        "id": "3ae4f79c977a509d",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Log Database",
        "query": "INSERT INTO event_logs (time, level, node, message, fields)\nVALUES ($1, $2, $3, $4, $5);",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 3140,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "27d88c02059f8f7b",
        "type": "catch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": [
            "6dc119dca255f8c0",
            "e46f4e14fa357fb2",
            "96914126869b24ea",
            "6c7f7fa4f1efcdad",
            "4becac2134c56c46",
            "f5eb9aa29c573436",
            "fd0b118cc2d5b290",
            "ab62583cbb880fb1",
            "0d1965e529e9c3f2",
            "cbf78967934887d1",
            "6484947809e67f98",
            "e49b91faaf764bc0",
            "595351ac2dd69914"
        ],
        "uncaught": false,
        "x": 2540,
        "y": 760,
        "wires": [
            [
                "f363f34901490c9c"
            ]
        ]
    },
    {
        "id": "fa32280dae23507a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 4460,
        "y": 480,
        "wires": []
    },
    {
        "id": "7605a6c5d2623b81",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3140,
        "y": 860,
        "wires": []
    },
    {
        "id": "de09f735150e715d",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Validation for rpm/amp/volt/trq/mode",
        "info": "These values are not yet validated from previous nodes, unlike mode and flags.",
        "x": 2890,
        "y": 340,
        "wires": []
    },
    {
        "id": "ecf194f8d3eb7152",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Exceptions",
        "info": "This node does not catch errors from 'Normalize Log Events' and 'Log Database' to prevent an infinity loop when the database is down.",
        "x": 2540,
        "y": 800,
        "wires": []
    },
    {
        "id": "cbf78967934887d1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Build Parameters",
        "func": "try {\n    const r = msg.real;\n\n    // Safely extract the healed fields array (defaults to an empty array if undefined)\n    const healedFields = msg.healedFields || [];\n\n    msg.params = [\n        r.time,\n        r.rpm, r.amp, r.volt, r.trq,\n        r.mode, \n        r.err, r.warn,   \n        r.igbt_c, r.mot_c,\n        r.l_regen, r.l_err, r.l_warn, r.l_ok, r.l_pump, r.drive_ena,\n        // Send the array to PostgreSQL if it has items, otherwise send null\n        healedFields.length > 0 ? healedFields : null  \n        \n    ];\n\n    // For debug-panel visibility only.\n    msg.payload = r;\n\n    return msg;\n\n} catch (error) {\n\n    node.error(`Critical Failure in 'Build Parameters' Node: ${error.message}. This frame is dropped.`, msg);\n    return null;\n\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4190,
        "y": 420,
        "wires": [
            [
                "ab62583cbb880fb1"
            ],
            [
                "fa32280dae23507a"
            ]
        ]
    },
    {
        "id": "6484947809e67f98",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Validate Bitmasks (err/warn)",
        "func": "try {\n\n    // Validate err\n    const rawErr = msg.raw.err;\n    if (typeof rawErr !== \"number\" || !Number.isInteger(rawErr) || rawErr < 0 || rawErr > 65535) {\n        const m = `Invalid err bitmask: \"${rawErr}\". Setting to null.`;\n        node.warn(m);\n        sendLog(\"error\", m);\n        msg.real.err = null;\n    } else {\n        msg.real.err = rawErr;\n    }\n\n    // Validate warn\n    const rawWarn = msg.raw.warn;\n    if (typeof rawWarn !== \"number\" || !Number.isInteger(rawWarn) || rawWarn < 0 || rawWarn > 65535) {\n        const m = `Invalid warn bitmask: \"${rawWarn}\". Setting to null.`;\n        node.warn(m);\n        sendLog(\"error\", m);\n        msg.real.warn = null;\n    } else {\n        msg.real.warn = rawWarn;\n    }\n\n    return msg;\n\n    // -----------------------------------------\n    // Defining Functions\n    // -----------------------------------------\n\n    function sendLog(level, message) {\n        node.send([null, {\n            payload: {\n                time:    msg.timestamp,\n                level:   level,\n                node:    \"Validate Bitmasks\",\n                message: message,\n                fields:  null\n            }\n        }]);\n    }\n\n} catch (error) {\n    node.error(`Critical Failure in 'Validate Bitmasks': ${error.message}`, msg);\n    return null;\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3880,
        "y": 420,
        "wires": [
            [
                "cbf78967934887d1"
            ],
            [
                "f363f34901490c9c"
            ]
        ]
    },
    {
        "id": "2f14ec4bef315ec1",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Return Last Healthy Value if Corrupted",
        "info": "Healed data is logged in telemetry_records.",
        "x": 2890,
        "y": 380,
        "wires": []
    },
    {
        "id": "391f2f694a5bbfa7",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Convert + return null if not boolean",
        "info": "",
        "x": 3900,
        "y": 380,
        "wires": []
    },
    {
        "id": "e49b91faaf764bc0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Strip Timestamp",
        "func": "try {\n\n    const fields = String(msg.payload).split(\",\");\n    const isFirstRow = msg.parts && msg.parts.index === 0;\n\n    // Reset the flag at the start of each new CSV file.\n    if (isFirstRow) {\n        context.set(\"noTsLogSent\", false);\n    }\n\n    if (fields.length >= 16) {\n        // ── Raw CSV path ──\n        // Timestamp is field 0. Strip it and pass fields 1–15 forward.\n        const ts = fields[0].trim();\n        const parsed = ts ? new Date(ts) : null;\n        const isValid = parsed && !isNaN(parsed.getTime());\n\n        if (isValid) {\n            // Good timestamp — use it and update tracker.\n            msg.timestamp = parsed.toISOString();\n            context.set(\"synthTime\", parsed.getTime());\n        } else {\n            const m = ts\n                ? `Corrupted timestamp: \"${ts}\" — Dropped the frame.`\n                : \"Blank timestamp field — Dropped the frame.\";\n            node.warn(m);\n            sendLog(\"warn\", m);\n            return null;\n        }\n\n        msg.payload = fields.slice(1, 16).join(\",\");\n\n    } else if (fields.length === 15) {\n        // ── Real-time path (serial / MQTT) ──\n        // No timestamp in data. First message gets system time,\n        // every subsequent message gets last assigned + 300ms.\n        const lastAssigned = context.get(\"lastAssignedTime\");\n\n        if (!lastAssigned) {\n            // First message — seed with actual system time.\n            const now = Date.now();\n            msg.timestamp = new Date(now).toISOString();\n            context.set(\"lastAssignedTime\", now);\n        } else {\n            // All subsequent messages — always +300ms.\n            const next = lastAssigned + 300;\n            msg.timestamp = new Date(next).toISOString();\n            context.set(\"lastAssignedTime\", next);\n        }\n\n        // If this came from a CSV file with no timestamp column, log once.\n        if (msg.parts && !context.get(\"noTsLogSent\")) {\n            const m = \"No timestamp column in CSV — stamping rows with system arrival time.\";\n            node.warn(m);\n            sendLog(\"warn\", m);\n            context.set(\"noTsLogSent\", true);\n        }\n\n    }\n\n    return msg;\n\n    // -----------------------------------------\n    // Defining Functions\n    // -----------------------------------------\n\n    function healCsvTimestamp() {\n        const last = context.get(\"synthTime\");\n        if (last) {\n            const healed = last + 300;\n            context.set(\"synthTime\", healed);\n            return new Date(healed).toISOString();\n        }\n        // No previous valid timestamp — fall back to system time.\n        return new Date().toISOString();\n    }\n\n    function sendLog(level, message) {\n        node.send([null, {\n            payload: {\n                time: new Date().toISOString(),\n                level: level,\n                node: \"Strip Timestamp\",\n                message: message,\n                fields: null\n            }\n        }]);\n    }\n\n} catch (error) {\n    node.error(`Critical Failure in 'Strip Timestamp': ${error.message}`, msg);\n    return null;\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 420,
        "wires": [
            [
                "96914126869b24ea"
            ],
            [
                "f363f34901490c9c"
            ]
        ]
    },
    {
        "id": "4185383bf9c49659",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Strip Timestamp + Format into 15 Fields",
        "info": "Possible cases:\n\nAll 15 fields, serial/MQTT — normal, never log (serial expects no timestamp)\nAll 15 fields, CSV — log once on first occurrence\nAll 16 fields, valid timestamps — no log\n16 fields, corrupted/blank timestamp — log every occurrence\nRow 0 = 16 valid, later row = 15 — log when it first drops (flag not set yet)\nRow 0 = 15, rows 1+ = 16 valid — log on row 0, rows 1+ use real timestamps\nRow 0 = 16 corrupted, row 1 = 16 valid — log on row 0, row 1 recovers correctly",
        "x": 880,
        "y": 380,
        "wires": []
    },
    {
        "id": "595351ac2dd69914",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "link in 1",
        "links": [
            "af0a28c0e371b550",
            "ba0281515b0dd58a",
            "bf9e58810d8e6472"
        ],
        "x": 625,
        "y": 420,
        "wires": [
            [
                "e49b91faaf764bc0"
            ]
        ]
    }
]